.App {
  text-align: center;
}

nav ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  list-style: none;
  font-size: 26px;
  color: #182932;
  background-color: #a67762;
  padding: 1em;
}

.pets-header {
  font-size: 48px;
  background-color: #367d56;
  color: #182932;
  padding: 2em;
}

.images-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  
}
.pet-list {
  display: flex;
  flex-direction: column;
  padding: .5em;
  border-color: #a67762;
  align-items: center;
  width: 40%;
  border: dashed;
  border-radius: 20px;
  padding: 1em;
  margin: 1em;
}

.pet {
  display: flex!important;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: larger;
}

.img {
  height: 350px;
  width: 350px;
}

.save-button {
  margin-top: 10px;
  margin-bottom: 10px;
  height:5vh;
  background-color: #367d56;
}

.all-pets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #dfef89;
}